.scrollbar-1px::-webkit-scrollbar {
  height: 0px;
}

.scrollbar-1px::-webkit-scrollbar-track {
  margin-top: 0px;
  background: #F9F9F9;
}

.scrollbar-1px::-webkit-scrollbar-thumb {
  margin-top: 12px;
  background: #064FA4;
  border-radius: 0px;
}