.scrollbar-2px::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-2px::-webkit-scrollbar-track {
  background: #F9F9F9;
}

.scrollbar-2px::-webkit-scrollbar-thumb {
  background: #064FA4;
  border-radius: 8px;
}